.tweet {
  border: 2px solid black;
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  /* margin-top: 20px; */
  /* padding: 20px; */
  /* border-radius: 0px; */
  /* padding: 20px; */
  /* margin-top: 100px; */
  /* box-sizing: border-box; */
}

.tweet-avatar-name {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 1rem; */
  /* margin: 0.1rem; */
}

.tweet-header {
  display: flex;
  /* background-color: blue; */
  /* align-items: flex-start; */
  /* margin: 0.1rem; */
  justify-content: space-between;
  align-items: center;
  /* margin: 0.2rem; */
  /* background-color: #f4f1ec; */
  /* background-image: none; */
}

.tweet-header img {
  width: 50px;
  height: 50px;
  /* border-radius: 25%; */
  /* margin-right: 10px; */
  /* margin-bottom: 20px; */
}

.tweet-header h3 {
  /* display: block; */
  font-size: 1.17em;
  /* margin-block-start: 1em; */
  /* margin-block-end: 5em; */
  font-weight: bold;
  /* padding-right: 1000px; */
  /* padding-bottom: 20px; */
}

.tweet-header p {
  color: gray;
  /* margin-right: 1rem; */
}

.tweet-content {
  /* margin-bottom: 10px; */
}

.line {
  height: 2px;
  background-color: black;
  width: 100%;
}

.tweet-content p {
  display: flex;
  justify-content: flex-start;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem;
}

.tweet-time {
  color: gray;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .tweet footer .icons i {
  margin-left: 10px;
  color: gray;
  cursor: pointer;
} */

.icons i:hover {
  color: red;
}

.tweet:hover {
  box-shadow: 10px 10px #cecdcd;
}